<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <meta charset="UTF-8"> -->
  <title> BossPriority </title>
</head>
<body>

	<form action="/Setting/" method="GET">
				<button type="submit">進入設定頁</button>
	</form>
	<form action="/PostTokenToServer/" method="POST">
			<font size="3">Token <input type="text" name="deviceid" value="HT43ZWM00590"></font>
	<input type="submit" name="button" value="送出">
	</form>
	<form action="/CheckWorkPeriod/" method="POST">
				<button type="submit">查詢員工上班狀況</button>
	</form>
	<form action="/CheckSalaryPeriod/" method="POST">
				<button type="submit">查詢員工單月薪水</button>
	</form>
	<form action="/CheckPurchaseItem/" method="POST">
				<button type="submit">新增購買項目</button>
	</form>
	<form action="/SalaryCount/" method="GET">
				<button type="submit">計算薪資</button>
	</form>

</body>
</html>