<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <meta charset="UTF-8"> -->
  <title> BossPriority </title>
</head>
<body>
	<form action="/SingleDirectPageToAddEmployeeWorkSchedule/" method="GET">
				<button type="submit">一次一筆新增員工排班</button>
	</form>
	<form action="/MultipleDirectPageToAddEmployeeWorkSchedule/" method="GET">
				<button type="submit">一次多筆新增員工排班</button>
	</form>
	<form action="/CheckEmployeeWorkSchedule/" method="POST">
				<button type="submit">以群組方式查詢單月員工上班情況</button>
	</form>
	<form action="/CheckEveryDayWorkStatus/" method="POST">
				<button type="submit">根據日期查詢員工上班狀況</button>
	</form>
	<form action="/CheckEveryMonthWorkStatus/" method="POST">
				<button type="submit">根據月份查詢員工上班狀況</button>
	</form>
	<form action="/AdjustOnlineStatus/" method="GET">
				<button type="submit">調整員工上班時間</button>
	</form>
	<form action="/AdjustWorkSchedule/" method="GET">
				<button type="submit">調整員工排班狀況</button>
	</form>
<!-- 	<form action="/SalaryCount/" method="GET">
				<button type="submit">計算薪資</button>
	</form> -->
</body>
</html>