<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <meta charset="UTF-8"> -->
  <title> BossPriority </title>
</head>
<body>

	<form action="/Setting/" method="GET">
				<button type="submit">調整員工時間</button>
	</form>
	<form action="/CheckSalaryPeriod/" method="POST">
				<button type="submit">查詢員工單月薪水</button>
	</form>
	<form action="/SalaryCount/" method="GET">
				<button type="submit">計算薪資</button>
	</form>
</body>
</html>