<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <meta charset="UTF-8"> -->
  <title> BossPriority </title>
</head>
<body>

	<form action="/Setting/" method="GET">
				<button type="submit">進入設定頁</button>
	</form>
	<form action="/PostTokenToServer/" method="POST">
			<font size="3">deviceid <input type="text" name="deviceid" value="HT43ZWM00590"></font>
			<font size="3">usertoken <input type="text" name="usertoken" value="3f7eff0a0763fc53b5531a1ff3f0789cc4cd0d63b330dc12551bbd339cae4e3e"></font>
	<input type="submit" name="button" value="送出">
	</form>
	<form action="/CheckWorkPeriod/" method="POST">
				<button type="submit">查詢員工上班狀況</button>
	</form>
	<form action="/CheckSalaryPeriod/" method="POST">
				<button type="submit">查詢員工單月薪水</button>
	</form>
	<form action="/CheckPurchaseItem/" method="POST">
				<button type="submit">新增購買項目</button>
	</form>
	<form action="/SalaryCount/" method="GET">
				<button type="submit">計算薪資</button>
	</form>
	<form action="/AddUserTokenRelatedInformationBridge/" method="POST">
			<font size="3">DeviceID <input type="text" name="deviceid" value="HT43ZWM00590"></font>
			<font size="3">UserToken <input type="text" name="usertoken" value="3f7eff0a0763fc53b5531a1ff3f0789cc4cd0d63b330dc12551bbd339cae4e3e"></font>
			<font size="3">UserName <input type="text" name="username" value="stephy"></font>
			<font size="3">Status <input type="text" name="status" value="online"></font>
			<font size="3">BrandTitle <input type="text" name="brandtitle" value="PartTime"></font>
			<font size="3">BrandName <input type="text" name="brandname" value="Dejuice"></font>
			<font size="3">BrandPlace <input type="text" name="brandplace" value="Taipei"></font>
	<input type="submit" name="button" value="送出">
	</form>
</body>
</html>